html {
    height: 100%;
}


body {
    background-image: linear-gradient(#112234, #060606);
    background-repeat: no-repeat;
    color: rgba(220, 218, 218, 0.908);
}

a {
    font-family: Sans Serif;
}

#form-div {
    border: 3px solid #ffffff;
    padding: 10px;
    width: 25%;
    margin-top: 2%;
    margin-left: 7%;
    padding: 10px;
    display: inline-grid;
    height: fit-content;
}

#results-div {
    border: 3px solid #ffffff;
    padding: 10px;
    font-family: Sans Serif;
    width: fit-content;
    margin: 10px;
    width: 60%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 10px;
    display: inline-grid;
    text-align: center;
    color: #627264;
}

.entry-div {
    display: inline-grid;
    margin: 10px;
    text-align: center;
}

#btns {
    padding-top: 10px;
}

#createBtn {
    margin: 4%;
    background-color: #c7ad04;
    font-family: Sans Serif;
    height: 16%;
}

#updateBtn {
    margin: 4%;
    background-color: #b07cf8;
    font-family: Sans Serif;
    height: 16%;
}

#deleteBtn {
    margin: 4%;
    background-color: #C76D7E;
    font-family: Sans Serif;
    height: 16%;
}

.carousel {
    position: relative;
    margin: 40px;
}

.sub {
    margin-left: 0.5rem;
}

.join {

    text-align: center;
}

.footy {
    text-align: center;
    font-family: Sans Serif;
    padding-top: 35px;
    color: #627264;
}